"*":
  core:
    telemetryConsent: "limited"
  "exception-reporting":
    userId: "f6d5bf8a-188f-4a34-ad0a-e95044da2ae2"
  "linter-ui-default":
    showPanel: true
  welcome:
    showOnStartup: false
