# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson
'.source.js':
  'deviceready':
    'prefix': 'deviceready'
    'body': """
    document.addEventListener("deviceready", function() {
      $1
    })
    """
  'logErr':
    'prefix': 'logErr'
    'body': 'console.log(${1:error})'
  'log array length':
    'prefix': 'llen'
    'body': 'console.log(\'${1:array} length\', ${1:array}.length);$2'
  'JSON.stringify':
    'prefix': 'str'
    'body': 'JSON.stringify($1)'
'.text.html.php':
    'public function':
      'prefix': 'pubfun'
      'body': """
      public function ${1:foo}($2)
      {
        $3
      }
      """
